.container{
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 2em;
}
.flex{
    display: flex;
}
.row{
    text-align: center;
}
[class^="col-"]{
    background-color: rgb(0, 114, 221);
    color: white;
    border: 1px solid white;
    padding: 0.8em 0.8em;
}
.row-6 [class^="col-"]{
    background-color: rgb(128, 227, 29);
    border-color: rgb(0, 114, 221);
}
.container-middle [class^="col-"] {
    height: 45.6px;
}