body{
    background-image: url(https://fixthephoto.com/it/grass-texture-free-photoshop/download-1);
}
.container{
    padding-top: 200px;
    max-width:900px;
    margin: 0 auto;
}
[class^="col-"]{
    
    width: 50px;
    height: 50px;

}    
.row-1 col{
    background-color: black;
}
.opacity-80{
    opacity: 80%;
}
.opacity-60{
    opacity: 60%;
}
.opacity-40{
    opacity: 40%;
}
.black{
    background-color: black;
}
.white{
    background-color: white;
}
.red{
    background-color: #b31616;
}
.pink{
    background-color: #ffcafe;
}
.purple{
    background-color: #5b0eaa;
}
.dark-purple{
    background-color: #350b5f;
}
.display-none{
    display: none;
}
 audio{
    position: absolute;
    top: 500px;
    left: 50px;
}
.container:hover{
    animation-name: ex-11-icon;
    animation-duration: 2s;
    animation-iteration-count: 3;
    animation-timing-function:ease;
}

@keyframes ex-11-icon{
    0%   {transform: rotate(0);}
    25% {transform: rotate(10deg);}
    50% {transform: rotate(0deg);} 
    75% {transform: rotate(-10deg);} 
    99%{transform: rotate(0); }
    100%{animation-fill-mode: forwards; opacity: 80%;}
  }